.tag-box {
  width: auto;
  padding: 5px;
  border: 1px solid #e7e5e5;
  align-items: center;
  margin-left: 10px;
  color: rgb(81, 81, 81);
  font-size: 12px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
